In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier

df1 = pd.read_csv('page1.csv', header=None)
df2 = pd.read_csv('page2.csv', header=None)
df = pd.concat([df1, df2], ignore_index=True)
df.fillna(method='ffill', inplace=True)

for row in df.values:
    row[2:] = [s.replace(',', '.') for s in row[2:]]

df[list(range(2, 11))] = df[list(range(2, 11))].astype(float)
df

,0,1,2,3,4,5,6,7,8,9,10
0,О-в Сахалин,Охотский,0.05,0.04,0.94,0.48,0.48,0.04,0.01,0.16,0.83
1,О-в Сахалин,Охотский,0.05,0.06,0.88,0.45,0.25,0.30,0.02,0.20,0.78
2,О-в Сахалин,Охотский,0.16,0.06,0.78,0.40,0.43,0.17,0.03,0.13,0.83
3,О-в Сахалин,Охотский,0.20,0.05,0.75,0.54,0.37,0.09,0.00,0.14,0.86
4,О-в Сахалин,Охотский,0.09,0.01,0.89,0.43,0.50,0.08,0.03,0.12,0.85
...,...,...,...,...,...,...,...,...,...,...,...
74,Г. Есаши,Охотский,0.27,0.26,0.47,0.57,0.22,0.21,0.26,0.15,0.59
75,Г. Есаши,Охотский,0.14,0.53,0.33,0.41,0.12,0.47,0.32,0.20,0.48
76,Г. Есаши,Охотский,0.15,0.63,0.22,0.56,0.09,0.35,0.11,0.33,0.56
77,Г. Есаши,Охотский,0.15,0.56,0.29,0.52,0.10,0.37,0.37,0.26,0.37
78,Г. Есаши,Охотский,0.23,0.53,0.24,0.47,0.16,0.37,0.32,0.17,0.51

In [51]:
df['class'] = df[0] + ' ' + df[1]
df

,0,1,2,3,4,5,6,7,8,9,10,class
0,О-в Сахалин,Охотский,0.05,0.04,0.94,0.48,0.48,0.04,0.01,0.16,0.83,О-в Сахалин Охотский
1,О-в Сахалин,Охотский,0.05,0.06,0.88,0.45,0.25,0.30,0.02,0.20,0.78,О-в Сахалин Охотский
2,О-в Сахалин,Охотский,0.16,0.06,0.78,0.40,0.43,0.17,0.03,0.13,0.83,О-в Сахалин Охотский
3,О-в Сахалин,Охотский,0.20,0.05,0.75,0.54,0.37,0.09,0.00,0.14,0.86,О-в Сахалин Охотский
4,О-в Сахалин,Охотский,0.09,0.01,0.89,0.43,0.50,0.08,0.03,0.12,0.85,О-в Сахалин Охотский
...,...,...,...,...,...,...,...,...,...,...,...,...
74,Г. Есаши,Охотский,0.27,0.26,0.47,0.57,0.22,0.21,0.26,0.15,0.59,Г. Есаши Охотский
75,Г. Есаши,Охотский,0.14,0.53,0.33,0.41,0.12,0.47,0.32,0.20,0.48,Г. Есаши Охотский
76,Г. Есаши,Охотский,0.15,0.63,0.22,0.56,0.09,0.35,0.11,0.33,0.56,Г. Есаши Охотский
77,Г. Есаши,Охотский,0.15,0.56,0.29,0.52,0.10,0.37,0.37,0.26,0.37,Г. Есаши Охотский
78,Г. Есаши,Охотский,0.23,0.53,0.24,0.47,0.16,0.37,0.32,0.17,0.51,Г. Есаши Охотский

In [52]:
X = df.drop([0, 1, 'class'], axis=1)
y = df['class']

In [53]:
len(df['class'].unique())

9

In [38]:
# Инициализируем модель
model = DecisionTreeClassifier(random_state=42,
                               # функция для impurity ('gini' или 'entropy')
                               criterion='gini',
                               # максимальная глубина дерева
                               max_depth=5,
                               # минимальное число элементов в узле для разбиения (может быть долей)
                               min_samples_split=5,
                               # минимальное число элементов в листе (может быть долей)
                               min_samples_leaf=5,
                               # минимальное значение дельты impurity
                               # min_impurity_decrease=0,
                               # веса для классов (можно дополнительно штрафовать за ошибку в нужных классах).
                               # поддерживает опцию 'balanced'.
                               class_weight=None,
                               # предварительная сортировка.
                               # ускоряет обучение на данных небольшого размера или с ограниченной глубиной дерева.
                               # иначе замедляет обучение.
                               #presort=False
                              )

# Обучаем модель
model.fit(X, y)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       random_state=42)

In [48]:
pred = model.predict(X)

In [54]:
df_for_metrics = pd.DataFrame([y.array, pred], ['real', 'pred']).transpose()
df_for_metrics

                    real                   pred
0   О-в Сахалин Охотский   О-в Сахалин Охотский
1   О-в Сахалин Охотский  О-в Сахалин Сусуйский
2   О-в Сахалин Охотский   О-в Сахалин Охотский
3   О-в Сахалин Охотский   О-в Сахалин Охотский
4   О-в Сахалин Охотский   О-в Сахалин Охотский
..                   ...                    ...
74     Г. Есаши Охотский   Г. Вакканай Охотский
75     Г. Есаши Охотский      Г. Есаши Охотский
76     Г. Есаши Охотский      Г. Есаши Охотский
77     Г. Есаши Охотский      Г. Есаши Охотский
78     Г. Есаши Охотский      Г. Есаши Охотский

[79 rows x 2 columns]

In [46]:
ans = 0
for i in range(len(df_for_metrics)):
    if df_for_metrics['real'][i] == df_for_metrics['pred'][i]:
        ans += 1
ans

51

In [47]:
ans / len(df_for_metrics)

0.6455696202531646

In [49]:
pd.DataFrame({'feature': X.columns,
              'importance': model.feature_importances_}).sort_values('importance', ascending=False)

  feature  importance
2       4    0.326626
3       5    0.171358
0       2    0.166391
7       9    0.121971
4       6    0.106875
8      10    0.082076
1       3    0.024703
5       7    0.000000
6       8    0.000000